<h2>Edit reference</h2>

<%= render "form.html", changeset: @changeset,
                        action: reference_path(@conn, :update, @reference) %>

<%= link "Back", to: reference_path(@conn, :index) %>
